/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lexend", sans-serif;
    font-size: 100%;
}

/* COMMON */
img {
    width: 100%;
}

ul {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
}

hr {
    border: 0.0000000000000000000000000000000000000000000001em solid rgb(142, 161, 225, 0);
    background-color: #8ea1e1;
}

.mb-0-8 {
    margin-bottom: 0.8em;
}

.mb-0-5 {
    margin-bottom: 0.5em;
}

.mr-0-5 {
    margin-right: 0.5em;
}

/* STRUCTURE */
.container {
    width: 80%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.wave img {
    display: block;
}

.wave.down img {
    transform: rotate(180deg);
    margin-top: -2px;
}

/* BUTTONS */
.btn-white {
    background-color: white;
    color: black;
}

.btn-dark {
    background-color: #2b2b2b;
    color: white;
}

.btn-purple {
    background-color: #8ea1e1;
    color: white;
}

.btn-small {
    display: inline-block;
    padding: 0.6em 1.2em;
    border-radius: 50px;
    font-size: 0.6em;
}

.btn-large {
    display: inline-block;
    padding: 0.8em 1.6em;
    border-radius: 50px;
    font-size: 0.75em;
}

/* TEXT EDITS */
.text {
    font-size: 0.7em;
    line-height: 1.6em;
}

.title {
    font-size: 2em;
}

/* HEADER */
header {
    height: 50px;
    background-color: #255ee9;
}

.header-nav {
    line-height: 50px;
}

.nav-logo, .nav-btn {
    width: 15%;
}

.nav-logo img {
    vertical-align: middle;
    height: 27px;
    width: auto;
}

.nav-center {
    width: 70%;
    text-align: center;
}

.nav-center .header-menu li {
    display: inline-block;
    margin-right: 1em;
    color: white;
    font-size: 0.7em;
}

.nav-btn {
    text-align: right;
}

.nav-btn a {
    line-height: normal;
}

.nav-center .header-menu a {
    color: inherit;
}

/* MAIN */

/* BANNER */
.banner {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    padding: 8em 0;
}

.banner-content {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.banner-content .buttons {
    margin-top: 1.3em;
}

.banner-content .buttons .btn-large {
    margin-right: 1em;
}

/* COMMON ADVANTAGES SECTIONS */
.advantage-sec {
    padding: 2em;
}

.col-img-first {
    width: 57%;
    margin-right: 7%;
}

.col-img-second {
    width: 57%;
    margin-left: 7%;
}

.col-text {
    width: 36%;
    margin-top: 2%;
}

/* ADV SEC-2 & 4 */
.advantage-sec-2 {
    padding: 2em;
    background-color: lightgray;
}

/* ADV SEC-4 */
.sec-4-text {
    width: 100%;
}

.sec-4-center {
    text-align: center;
}

.adv-sec-4-title {
    width: 50%;
    margin: 0 auto;
    padding: 1em 0;
    text-align: center;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

/* FOOTER */
footer {
    background-color: #2b2b2b;
}

.footer-sec {
    padding: 3em 2em 0;
    vertical-align: top;
    line-height: 1.7em;
}

.footer-sec-2 {
    padding: 0 2em 3em;
    vertical-align: top;
    line-height: 1.7em;
}

.hr-container {
    vertical-align: top;
    padding: 0.8em 2em;
}

.title-footer {
    font-size: 1.5em;
    color: #8ea1e1;
}

.img-container {
    display: inline-block;
    vertical-align: middle;
    width: 1em;
}

.symb-container {
    color: white;
}

.col-title-footer {
    width: 30%;
    margin-right: 7%;
}

.col-list {
    width: 15.75%;
}

.list-title {
    font-size: 0.7em;
    font-weight: 800;
    color: #8ea1e1;
}

.list-text {
    font-size: 0.7em;
    color: white;
}

#language {
    background-color: #2b2b2b;
    border: none;
    color: white;
    font-family: "Lexend", sans-serif;
    font-size: 0.7em;
    font-weight: 400;
}

.col-logo {
    width: 50%;
    text-align: left;
}

.col-footer-btn {
    width: 50%;
    text-align: right;
}

.col-footer-btn a {
    line-height: normal;
}



