/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lexend", sans-serif;
    font-size: 100%;
}

/* COMMON */
img {
    width: 100%;
}

ul {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
}

.mb-0-8 {
    margin-bottom: 0.8em;
}

/* STRUCTURE */
.container {
    width: 80%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

/* BUTTONS */
.btn-white {
    background-color: white;
    color: black;
}

.btn-dark {
    background-color: #2b2b2b;
    color: white;
}

.btn-small {
    display: inline-block;
    padding: 0.6em 1.2em;
    border-radius: 50px;
    font-size: 0.6em;
}

.btn-large {
    display: inline-block;
    padding: 0.8em 1.6em;
    border-radius: 50px;
    font-size: 0.75em;
}

/* TEXT EDITS */
.text {
    font-size: 0.7em;
    line-height: 1.6em;
}

.title {
    font-size: 1.9em;
}

/* HEADER */
header {
    height: 50px;
    background-color: #255ee9;
}

.header-nav {
    line-height: 50px;
}

.nav-logo, .nav-button {
    width: 15%;
}

.nav-logo img {
    vertical-align: middle;
    height: 27px;
    width: auto;
}

.nav-center {
    width: 70%;
    text-align: center;
}

.nav-center .header-menu li {
    display: inline-block;
    margin-right: 1em;
    color: white;
    font-size: 0.7em;
}

.nav-btn {
    text-align: right;
}

.nav-btn a {
    line-height: normal;
}

.nav-center .header-menu a {
    color: inherit;
}

/* MAIN */

/* BANNER */
.banner {
    height: 325px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    padding: 2.5em 0;
}

.banner-content {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.banner-content .buttons {
    margin-top: 1.3em;
}

.banner-content .buttons .btn-large {
    margin-right: 1em;
}